<div class="native-int-box links-outer" *ngIf="!returnFeatureAccess()" (click)="premiumPopup('integrations')">
  <div class="logo-sec ml10">
    <img class="img-responsive" src="assets/images/slk.png" />
  </div>
  <div class="integration-name">
    Slack
  </div>
  <div class="links-inner">
    <ul>
      <li>
        <div class="i-outer-red">
          <a href="javascript:void(0)">
            <i class="material-icons small-icon">lock_outline</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="native-int-box" [class.links-outer]="isConfigured" *ngIf="returnFeatureAccess()">
  <div *ngIf="isConfigured && !config.active" class="red-bar"></div>
  <div *ngIf="isConfigured && config.active" class="green-bar"></div>
  <div class="logo-sec">
    <img class="img-responsive" src="assets/images/slk.png" />
  </div>
  <div class="integration-name">
    slack
  </div>
  <button *ngIf="!isConfigured" (click)="openAuthModal()" class="btn configure-btn " type="submit">Configure</button>

  <div class="links-inner">
    <ul>
      <li>
        <div *ngIf="isConfigured && !config.active" class="i-outer-red">
          <i class="material-icons">error</i>
        </div>
        <div *ngIf="isConfigured && config.active" class="i-outer-green">
          <i class="material-icons">check_circle</i>
        </div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <img class="img-responsive" src="assets/images/config-icon-active.png" />
        </a>
        <div class="help-checktip config-tip">Test</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured">
        <a href="javascript:void(0)" (click)="getAccounts()">
          <img class="img-responsive" src="assets/images/config-icon.png" />
        </a>
        <div class="help-checktip config-tip">Reconfigure</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active && isLeadsPending">
        <a href="javascript:void(0)" (click)="sync()">
          <i class="material-icons">autorenew</i>
        </a>
        <div class="help-checktip config-tip">Sync</div>
      </li>
      <li class="help-tip" (click)="syncTask()" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)">
          <i class="material-icons">restore</i>
        </a>
        <div class="help-checktip config-tip">Task History</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="updateIntegrationStatus(false)">
          <i class="material-icons ">do_not_disturb_alt</i>
        </a>
        <div class="help-checktip config-tip">Deactivate</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && !config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <i class="material-icons">playlist_add_check</i>
        </a>
        <div class="help-checktip config-tip">Activate</div>
      </li>
    </ul>
  </div>
</div>

<div id="slack-new" class="modal fade integration-modal" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" (click)="close()" data-dismiss="modal" aria-label="Close">
          <i class="material-icons modal-close">close</i>
        </button>
        <img src="assets/images/slk.png">
        <h4>Send Outgrow lead data to Slack</h4>
      </div>
      <div class="modal-body">
        <!-- MultiStep Form -->
        <form>
          <!-- progressbar -->
          <ul class="progressbar">
            <li class="active twoOption" [class.icon]="isConfigured">Configure
              <i class="material-icons">check_circle</i>
            </li>
            <!-- <li class="fourOption" [class.active]="isConnected" [class.icon]="isMapped">Map fields <i class="material-icons">check_circle</i></li> -->
            <li class="twoOption" [class.active]="isMapped" [class.icon]="isDoubleOptin">Test Connection
              <i class="material-icons">check_circle</i>
            </li>
            <!-- <li  [class.active]="isDoubleOptin">Double Optin<i class="material-icons">check_circle</i></li> -->
          </ul>
          <!-- fieldsets -->
          <fieldset class="btn-center-outer" *ngIf="!isConnected && !isMapped ">
            <h5>Allow Outgrow to access Slack</h5>
            <div class="circle-outer">
              <div class="circle">
                <img class="outgrow-logo" src="assets/images/og-symbol.png">
              </div>
              <div class="divider">
                <img src="assets/images/inv-arrow.png">
              </div>
              <div class="circle">
                <img src="assets/images/slk.png">
              </div>
            </div>

            <input type="button" name="submit" class="submit action-button button btn" value="Authenticate with Slack" (click)="connect()"
            />
          </fieldset>
          <fieldset *ngIf="isConnected &&  !isMapped">
						<h5 class="align-left">Choose Slack account you want to use for this integration</h5>
						<h6>Select a Slack Connection</h6>
						<div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
							<i class="material-icons loader-plan">autorenew</i>
						</div>
						<div class="radio-o" [class.active]="account.key==activeAccount" *ngFor="let account of accounts; let i = index">
							<input type="radio" [id]="account.name" (click)="setAccount(account.key,account.name, 'edit')" name="radio-group" [checked]="account.status">
							<label [for]="account.name">{{account.name}}</label>
							<a *ngIf="accounts.length!=1 && account.key!==activeAccount" href="javascript:void(0);" class="after-test-link" (click)="setAccount(account.key,account.name,'delete')">Delete</a>
							<!-- <a href="javascript:void(0);" class="after-test-link" (click)="editAccount(account.key,account.name)">Edit</a> -->
							<a href="javascript:void(0);" *ngIf="account.key!==activeAccount" class="after-test-link" (click)="testAccount('account'+i,account.instance_url)">Test</a>
							<div [id]="'account'+i" class="after-test hide"><i class="material-icons">check</i> Success</div>
             
            </div>
						<a href="javascript:void(0);" (click)="connect()" class="single-link align-left mt5">Add another Slack connection</a>
						<input type="button" name="submit" class="submit action-button button btn" (click)="getFields()" value="Proceed" />
					</fieldset>
          <fieldset *ngIf="isMapped && !isDoubleOptin">
            <!-- <div class="success"><i class="material-icons">check_circle</i> MAPPING SUCCESSFUL.
					</div> -->
            <h6>Following data will be pushed to the selected channel "general" for testing connection with Slack.</h6>
            <div class="table-outer ">
              <div class="row-outer header align-left">
                <div class="col-outer-half">Field Name</div>
                <div class="col-outer-half">Entry</div>

              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calc of calcAllFileds[0]">
                  <div class="col-outer-half" *ngIf="calc.key!='list_id'">{{calc.name}}</div>
                  <div class="col-outer-half" *ngIf="calc.key!='list_id'">{{calc.value}}</div>
                </div>
              </div>

              <!-- <p>Send Outgrow leads to different lists based on results</p> -->
            </div>
            <!-- <input type="button" class="action-button-previous btn button-light-back" (click)="back()" value="Back"/> -->
            <button type="button" name="submit" class="submit action-button button btn" id="btn-test" (click)="test()">Test</button>
          </fieldset>
          <!-- <fieldset class="hide" id="doubleoptin" > 
					<h5 class="align-left">Users receive an email and click a link to confirm their subscription, which is
							then added to your Hubspot account or chosen list.</h5>
							<div class="check-outer">
								<input type="checkbox" id="test1" />
								<label for="test1">Send users of this calculator / quiz / poll an email to confirm subscription to a list </label>
							</div>	
						<div class="email-body-text">Email body</div>	
						<div class="email-outer" id="email">
							<textarea id="froala-slackIntegration"></textarea>						
						</div>
						<div class="buttons-outer">
							<a class="small-btn red-btn" href="javascript:void(0)" (click)="sendTestMessage('save')" ><i class="material-icons">save</i> Save</a>	
							<a class="small-btn" href="javascript:void(0)" ><i class="material-icons">autorenew</i> Reset</a>
							<a class="small-btn" href="javascript:void(0)" (click)="sendTestMessage('test')"><i class="material-icons">send</i> Send Test Email</a>
							
							
						</div>
						<input type="button" name="submit" class="submit action-button button btn" value="SET DOUBLE OPTIN" (click)="setDoubleoptin()"/>
					</fieldset> -->



        </form>
        <!-- /.MultiStep Form -->
      </div>
    </div>

  </div>
</div>
