<!-- Common Component -->
<div class="type-details">
  <common-editor [control]="control">
  </common-editor>
  <div class="type-details bottom-space0">
    <span class="form-label" [class.no-margin]="!control.config.showHelp">Help Text</span>
    <div class="icon-outer bottom" *ngIf="control.config.showHelp">
      <div class="char-count-limit" *ngIf="froalaHelpText.textCount>90">{{froalaHelpText.textCount}}</div>
      <div class="help-text">Recommended limit of 90 characters is exceeded</div>
    </div>
    <div class="switch">
      <label>
        <input type="checkbox" name="properties-checkbox" class="show-check" [checked]="control.config.showHelp" (change)="onChangeDescription(control);callGA('HELPTEXT',control)"
          data-size="mini" data-on-color="'blue'">
        <span class="lever"></span>
      </label>
    </div>
    <!--//on/off-->
    <div class="col-xs-12 no-padding div-check help-editor-outer" *ngIf="control.config.showHelp">
      <div class="form-text question-textarea helptext-control" *ngIf="froalaHelpText.options && !jsonBuilderHelper.isTempName(['experian', 'inline-temp', 'inline-temp-new', 'template-five-oldresult'])"
        [froalaEditor]="froalaHelpText.options" [(froalaModel)]="control.props.helpText">
      </div>
      <textarea class="form-text question-textarea helptext-control" *ngIf="jsonBuilderHelper.isTempName(['experian', 'inline-temp', 'inline-temp-new', 'template-five-oldresult'])"
        [(ngModel)]="control.props.helpText"></textarea>

    </div>
  </div>
</div>
<!-- Common Component-->
<div class="type-details pb15" *ngIf="jsonBuilderHelper.isTempName(['inline-temp-new']) && jsonBuilderHelper.getJSONBuilt().versioning.resultV2">
  <div class="col-xs-12 no-padding text-group horz-group">
    <span class="col-md-4 col-xs-4 no-padding form-label">Placeholder</span>
    <div class="col-md-7 col-xs-7 no-padding horz-control">
      <input type="text" class="form-text" (keyup)=updatePlaceholder() [(ngModel)]="control.config.placeholder">
    </div>
  </div>
</div>
<div class="type-details-head-no-collapse">
  <span>OPTIONS</span>
</div>
<div class="type-details options-form no-border">
  <div class="col-xs-12 no-padding bottom-space10" *ngFor="let option of control.options ; let i = index">
    <div class="delete-option">
      <div class="icon-outer">
        <div class="char-count-limit" *ngIf="option.label.length>(control.optionImageVisible?40:50)">{{option.label.length}}</div>
        <div class="help-text">Recommended limit of {{(control.optionImageVisible)?40:50}} characters is exceeded</div>
      </div>
      <span class="option option-up" *ngIf="i>0">
        <a href="javascript:void();" (click)="move_option_up(i)">
          <i class="material-icons">keyboard_arrow_up</i>
          <div class="help-text">Up</div>
        </a>
      </span>
      <span class="option option-down" *ngIf="i<control.options.length-1">
        <a href="javascript:void();" (click)="move_option_down(i)">
          <i class="material-icons">keyboard_arrow_down</i>
          <div class="help-text">Down</div>
        </a>
      </span>
      <span class="option" *ngIf="control.options.length !== 1">
        <a href="javascript:void();" *ngIf="control.options.length !== 1" (click)="delete_Option_From_Items(control.options,i);callGA('DELETE')">
          <i class="material-icons">clear</i>
        </a>
        <div class="help-text">Delete</div>
      </span>
    </div>
    <span class="no-padding option-label">
      <div class="help-tip">
        <span class="default-label" *ngIf="option.defualtselected">D</span>
        <div class="help-checktip">Default Option</div>
      </div>
      <span class="" *ngIf="!option.defualtselected">{{i+1}}</span>
    </span>
    <div class="option-textbox">
      <div class="option-textbox-sub">
        <input type="text" class="form-text" placeholder="Label" [(ngModel)]="option.label" (keyup)="onOptionLabelChange(i,option)">
      </div>
    </div>
    <div class="no-padding col-md-12 col-sm-12">
      <label class="check-value" [class.help-tip-absent]="i!=0">VALUE
        <div class="help-tip" *ngIf="i==0 && jsonBuilderHelper.getJSONBuilt().templateType=='Numerical'">
          <i class="material-icons">info_outline</i>
          <div class="help-checktip">
            Each option has a numeric 'value' that describes its impact to the end result. In a calculator calculating the total cost
            of a fruit basket, the 'value' will be the cost of a fruit item.
          </div>
        </div>
      </label>
      <input type="{{inputType}}" class="form-text value-text" placeholder="Value" [value]="option.value" (keydown)="onKeyDown(i, $event)"
        (keyup)="onOptionValChange(i,option,$event)">

    </div>
    <!-- More button -->

  </div>
  <div class="col-xs-12 top-space5">
    <a href="javascript:void(0);" (click)="add_Option_In_Dropdown();callGA('ADDOPTION')" class="default">Add Option</a>
  </div>
  <div class="col-xs-12 hide">
    <label class="input-group-btn">
      <input id="csvFileInput" (change)="handleFile($event)" accept=".csv" type="file" class="file-upload">
      <span class="btn btn-basic2">
        UPLOAD CSV
        <div class="help-tip editor-helptip upload-csv">
          <i class="material-icons">info_outline</i>
          <div class="help-checktip"> Upload a CSV file to add the options to the dropdown</div>
        </div>
      </span>
    </label>
    <div class="col-md-8" style="margin-top: 6px;">
      <a class="default" href="https://cdn.filestackcontent.com/QUWpu4QeCXVOUQYYglcQ" target="_blank">Sample</a>
    </div>
  </div>
</div>
<div class="form-label type-details-head-no-collapse" *ngIf="jsonBuilderHelper.isTempName(['inline-temp-new']) && jsonBuilderHelper.getJSONBuilt().versioning.resultV2">SETTINGS</div>
<question-redirect-url [control]="control"></question-redirect-url>
<div class="type-details no-border bottom-space0" *ngIf="jsonBuilderHelper.isTempName(['inline-temp-new']) && jsonBuilderHelper.getJSONBuilt().versioning.resultV2">
  <label class="check check-mandatory form-label">
    Mark as Mandatory
  </label>
   <div class="switch">
     <label>
      <input type="checkbox" value="Value1" name="checkbox1" id="check1"
           [disabled]="isQuestionInFormula()"
           [checked]="control.config.validations.required.status"
           (change)="onChange(control);callGA('MANDATE',control)">
          <span class="lever"></span>
     </label>
    </div>
  <span class="mandatory-info" *ngIf="isQuestionInFormula()"><p>Since this question has been used in the formula, it is required that it be kept mandatory.</p></span>
</div>


<div class="type-details" *ngIf="jsonBuilderHelper.editors('logicJump') && !jsonBuilderHelper.editors('sectionalLogicJump')">
  <span class="form-label">
    <i class="material-icons lock-icon bookmark-icon" *ngIf="!_featureAuthService.features.logic_jump.active">lock_outline</i>LOGIC JUMP</span>
  <div class="col-md-12 no-padding">
    <a class="btn btn-default btn-flat btn-basic2" href="javascript:void(0);" (click)="openLogicPopup()">{{control.condition?'EDIT':'ADD'}} LOGIC JUMP</a>
  </div>
</div>