<div class="native-int-box links-outer" *ngIf="!returnFeatureAccess()" (click)="premiumPopup('integrations')">
  <div class="logo-sec ml10">
    <img class="img-responsive" src="assets/images/emma-new.png" />
  </div>
  <div class="integration-name">
    Emma
  </div>
  <div class="links-inner">
    <ul>
      <li>
        <div class="i-outer-red">
          <a href="javascript:void(0)">
            <i class="material-icons small-icon">lock_outline</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="native-int-box" [class.links-outer]="isConfigured" *ngIf="returnFeatureAccess()">
  <div *ngIf="isConfigured && !config.active" class="red-bar"></div>
  <div *ngIf="isConfigured && config.active" class="green-bar"></div>
  <div class="logo-sec">
    <img class="img-responsive" src="assets/images/emma-new.png" />
  </div>
  <div class="integration-name">
    Emma
  </div>
  <button class="btn configure-btn" *ngIf="!isConfigured" (click)="openConnectModal()">Configure</button>
  <div class="links-inner">
    <ul>
      <li>
        <div *ngIf="isConfigured && !config.active" class="i-outer-red">
          <i class="material-icons">error</i>
        </div>
        <div *ngIf="isConfigured && config.active" class="i-outer-green">
          <i class="material-icons">check_circle</i>
        </div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <img class="img-responsive" src="assets/images/config-icon-active.png" />
        </a>
        <div class="help-checktip config-tip">Test</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured">
        <a href="javascript:void(0)" (click)="getAccounts()">
          <img class="img-responsive" src="assets/images/config-icon.png" />
        </a>
        <div class="help-checktip config-tip">Reconfigure</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active && isLeadsPending">
        <a href="javascript:void(0)" (click)="sync()">
          <i class="material-icons">autorenew</i>
        </a>
        <div class="help-checktip config-tip">Sync</div>
      </li>
      <li class="help-tip" *ngIf="config?.map_fields?.length > 0 && isConfigured && config.active" >
        <a href="javascript:void(0)" (click)="syncTask()">
          <i class="material-icons">restore</i>
        </a>
        <div class="help-checktip config-tip">Task History</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="updateIntegrationStatus(false)">
          <i class="material-icons ">do_not_disturb_alt</i>
        </a>
        <div class="help-checktip config-tip">Deactivate</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && !config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <i class="material-icons">playlist_add_check</i>
        </a>
        <div class="help-checktip config-tip">Activate</div>
      </li>
    </ul>
  </div>
</div>


<div id="emma-new" class="modal fade integration-modal" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" (click)="close()" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons modal-close">close</i>
        </button>
        <img src="assets/images/emma.png">
        <h4>Send Outgrow lead data to Emma</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="emmaForm">
          <!-- progressbar -->
          <ul class="progressbar">
            <li class="active fourOption" [class.icon]="isConnected">Configure
              <i class="material-icons">check_circle</i>
            </li>
            <li class="fourOption" [class.active]="isConnected" [class.icon]="isListSelected">Select List
              <i class="material-icons">check_circle</i>
            </li>
            <li class="fourOption" [class.active]="isListSelected" [class.icon]="isMapped">Map Fields
              <i class="material-icons">check_circle</i>
            </li>
            <li class="fourOption" [class.active]="isMapped">Test Connection
              <i class="material-icons">check_circle</i>
            </li>
            <!-- <li class="fiveOption" [class.active]="isDoubleOptin">Double Optin<i class="material-icons">check_circle</i></li> -->
          </ul>
          <!-- fieldsets -->
          <fieldset *ngIf="!isAccountSelected && !isConnected && !isListSelected && !isMapped">
            <!-- <div class="error-main" *ngIf="isError">
  <i class="material-icons">check_circle</i> {{errorMsg}}
  </div> -->
            <h5 class="align-left">Choose Emma account you want to use for this integration</h5>
            <h6>Select a Emma Connection</h6>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
              <i class="material-icons loader-plan">autorenew</i>
            </div>
            <div class="radio-o" [class.active]="account.access_token==activeAccount" *ngFor="let account of accounts; let i = index">
              <input type="radio" [id]="account.name" (click)="setAccount(account.access_token, 'edit')" name="radio-group"
                [checked]="account.status">
              <label [for]="account.name">{{account.name}}</label>
              <a *ngIf="accounts.length!=1 && account.access_token!==activeAccount" href="javascript:void(0);" class="after-test-link" (click)="setAccount(account.access_token,'delete')">Delete</a>
              <!-- <a href="javascript:void(0);" class="after-test-link" (click)="editAccount(account.name,account.access_token,account.refresh_token,account.client_id)">Edit</a> -->
              <a href="javascript:void(0);" *ngIf="account.access_token!==activeAccount" class="after-test-link" (click)="testAccount(account)">Test</a>
              <div class="after-test hide" [id]="account.key"><i class="material-icons">check</i> Success</div> 

            </div>
            <a href="javascript:void(0);" (click)="openNewConnectModal()" class="single-link align-left mt5">Add another Emma connection</a>
            <input type="button" name="submit" class="submit action-button button btn" (click)="showList()" value="Proceed" />
          </fieldset>

          <fieldset *ngIf="isAccountSelected && !isConnected && !isListSelected && !isMapped">
            <div class="error-main" *ngIf="isError">
              <i class="material-icons">check_circle</i> {{errorMsg}}
            </div>
            <h5 class="align-left">Connect to your Emma Account</h5>
            <h6>To configure Emma you will have to provide your API Keys and account id. You’ll find your API keys inside your
              Emma account in the “Account Settings” section. There’s a public key, a private key and an account ID.
            </h6>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter Emma account name" name="hubspotAccount" formControlName="accountName" [(ngModel)]="integrations.account_name">
              <label class="control-label" for="input">Select Account Name</label>
              <i class="bar"></i>
              <!-- <p class="error" *ngIf="mailChimpForm.controls.accountName.touched && !mailChimpForm.controls.accountName.valid">
              <span *ngIf="mailChimpForm.controls.accountName.errors.required">
              <i class="material-icons">report_problem</i> Account Name is required.
              </span> 
            </p> -->
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Enter your Emma public key" type="text" name="publicKey" formControlName="publicKey"
                [(ngModel)]="integrations.refresh_token" (focus)="addIsfocusedKey('emma-public-key')" (blur)="removeIsfocusedKey('emma-public-key')">
              <!-- <input type="text" placeholder="palceholder"/> -->
              <label class="control-label" for="input">Emma Public Key</label>
              <i class="bar"></i>

              <p class="error" *ngIf="emmaForm.controls.publicKey.touched && !emmaForm.controls.publicKey.valid">
                <span *ngIf="emmaForm.controls.publicKey.errors.required">
                  <i class="material-icons">report_problem</i> Public key is required.
                </span>
              </p>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter your Emma private key" name="privateKey" formControlName="privateKey"
                [(ngModel)]="integrations.access_token" (focus)="addIsfocusedKey('emma-private-key')" (blur)="removeIsfocusedKey('emma-private-key')">
              <!-- <input type="text" placeholder="palceholder"/> -->
              <label class="control-label" for="input">Emma Private Key</label>
              <i class="bar"></i>

              <p class="error" *ngIf="emmaForm.controls.privateKey.touched && !emmaForm.controls.privateKey.valid">
                <span *ngIf="emmaForm.controls.privateKey.errors.required">
                  <i class="material-icons">report_problem</i>Private key is required.
                </span>
              </p>
            </div>
            <div class="form-group mb20">
              <input class="form-control" type="text" placeholder="Enter your Emma account id" name="accountId" formControlName="accountId"
                [(ngModel)]="integrations.client_id" (focus)="addIsfocusedKey('emma-accountid')" (blur)="removeIsfocusedKey('emma-accountid')">
              <!-- <input type="text" placeholder="palceholder"/> -->
              <label class="control-label" for="input">Emma Account Id</label>
              <i class="bar"></i>

              <p class="error" *ngIf="emmaForm.controls.accountId.touched && !emmaForm.controls.accountId.valid">
                <span *ngIf="emmaForm.controls.accountId.errors.required">
                  <i class="material-icons">report_problem</i> Account Id is required.
                </span>
              </p>
            </div>
            <button id="btnmEmma" type="submit" [disabled]="!emmaForm.valid" class="action-button button btn" (click)="connect()">Authenticate with Emma</button>
          </fieldset>
          <fieldset *ngIf="isConnected && !isListSelected && !isMapped">
            <div class="error-main" *ngIf="isError">
              <i class="material-icons">check_circle</i> {{errorMsg}}
            </div>
            <h5 class="align-left">Choose Emma list where you want to add subscribers from this {{calcType}}</h5>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
              <i class="material-icons loader-plan">autorenew</i>
            </div>

            <div class="dropdown-outer">
              <div class="heading">Select a Emma List</div>
              <select class="listName" (change)="selectedList($event.target.value)">
                <option value="0"> Select </option>
                <option *ngFor="let list of crmList" [selected]="list.list_id == selectedListId" [value]="list.list_id">{{list.list_name}}</option>
              </select>
            </div>
            <button (click)="saveList()" name="submit" class="submit action-button button btn" id="btnemmaList">Configure</button>
          </fieldset>
          <fieldset *ngIf="isConnected && !isMapped">
            <div class="error-main" *ngIf="isMapError">
              <i class="material-icons">check_circle</i> {{mapError}}
            </div>
            <div class="error-main" *ngIf="isLeadGenError">
              <i class="material-icons">check_circle</i> {{mapError}}
            </div>
            <h5 class="align-left">Choose Emma fields where you want to send Outgrow {{calcType}} data </h5>
            <div class="table-outer">
              <div class="row-outer header align-left" *ngIf="!isLoading && selectedlistId!='' && !isMapError">
                <div class="col-outer-half">Outgrow Field</div>
                <div class="col-outer-half">Emma Field</div>
                <!-- <div class="col-outer">Type</div> -->
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
                <i class="material-icons loader-plan">autorenew</i>
              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calcfields of calcAllFileds">
                  <div class="col-outer-half">{{calcfields.calc_name}}</div>
                  <div class="col-outer-half">
                    <select [disabled]="isLeadGenError" (change)="selectedMapFields(calcfields.calc_key,$event)">
                      <option value="0">Not mapped</option>
                      <option *ngFor="let crmfields of crmAllFileds" [selected]="crmfields.calc_key == calcfields.calc_key" [value]="crmfields.crm_key">{{crmfields.crm_name}}</option>
                      <!-- <option >Option</option>                    -->
                    </select>
                  </div>
                  <!-- <div class="col-outer">Type</div> -->
                </div>
              </div>
              <!-- <p>Send Outgrow leads to different lists based on results</p> -->
            </div>
            <!-- <input type="button" name="previous" class="previous action-button-previous btn button-light" value="Previous"/> -->
            <!-- <input type="button" (click)="test()" class="action-button button btn btn-test" value="Test Connection"/> -->
            <button (click)="test()" [disabled]="isMapError" class="action-button button btn btn-test" href="javascript:void(0);" type="button"
              id="btn-ac">TEST CONNECTION</button>
          </fieldset>
          <fieldset *ngIf="isMapped">
            <div class="success">
              <i class="material-icons">check_circle</i> MAPPING SUCCESSFUL.
            </div>
            <h6>Following test record will be pushed to Emma to test the connection</h6>
            <div class="table-outer">
              <div class="row-outer header align-left">
                <div class="col-outer-half">Emma Field</div>
                <div class="col-outer-half">Emma Field value</div>

              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calc of viewMappedData">
                  <div class="col-outer-half" *ngIf="calc.key!='group_id'"> {{calc.key}} </div>
                  <div class="col-outer-half" *ngIf="calc.key!='group_id'"> {{calc.value}} </div>
                </div>
              </div>

            </div>
            <input type="button" class="action-button-previous btn button-light-back" (click)="back()" value="Back" />
            <input type="button" name="submit" class="submit action-button button btn" (click)="close()" value="Finish" />

          </fieldset>

        </form>
      </div>

    </div>
  </div>
</div>
