<div class="native-int-box links-outer" *ngIf="!returnFeatureAccess()" (click)="premiumPopup('integrations')">
  <div class="logo-sec ml10">
    <img class="img-responsive" src="assets/images/ckout.png" />
  </div>
  <div class="integration-name">
    ConvertKit
  </div>
  <div class="links-inner">
    <ul>
      <li>
        <div class="i-outer-red">
          <a href="javascript:void(0)">
            <i class="material-icons small-icon">lock_outline</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="native-int-box" [class.links-outer]="isConfigured" *ngIf="returnFeatureAccess()">
  <div *ngIf="isConfigured && !config.active" class="red-bar"></div>
  <div *ngIf="isConfigured && config.active" class="green-bar"></div>
  <div class="logo-sec">
    <img class="img-responsive" src="assets/images/ckout.png" />
  </div>
  <div class="integration-name">
    ConvertKit
  </div>
  <button class="btn configure-btn" *ngIf="!isConfigured" (click)="openConnectModal()">Configure</button>
  <div class="links-inner">
    <ul>
      <li>
        <div *ngIf="isConfigured && !config.active" class="i-outer-red">
          <i class="material-icons">error</i>
        </div>
        <div *ngIf="isConfigured && config.active" class="i-outer-green">
          <i class="material-icons">check_circle</i>
        </div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <img class="img-responsive" src="assets/images/config-icon-active.png" />
        </a>
        <div class="help-checktip config-tip">Test</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured">
        <a href="javascript:void(0)" (click)="getAccounts()">
          <img class="img-responsive" src="assets/images/config-icon.png" />
        </a>
        <div class="help-checktip config-tip">Reconfigure</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active && isLeadsPending">
        <a href="javascript:void(0)" (click)="sync()">
          <i class="material-icons">autorenew</i>
        </a>
        <div class="help-checktip config-tip">Sync</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="syncTask()">
          <i class="material-icons">restore</i>
        </a>
        <div class="help-checktip config-tip">Task History</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="updateIntegrationStatus(false)">
          <i class="material-icons ">do_not_disturb_alt</i>
        </a>
        <div class="help-checktip config-tip">Deactivate</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && !config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <i class="material-icons">playlist_add_check</i>
        </a>
        <div class="help-checktip config-tip">Activate</div>
      </li>
    </ul>
  </div>
</div>
<div id="convertkit-new" class="modal fade integration-modal" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons modal-close">close</i>
        </button>
        <img src="assets/images/ckin.png">
        <h4>Send Outgrow lead data to Convertkit</h4>
      </div>
      <div class="modal-body">
        <!-- MultiStep Form -->
        <form [formGroup]="convertKitForm">
          <!-- progressbar -->
          <ul class="progressbar">
            <li class="active fourOption" [class.icon]="isConnected">Configure
              <i class="material-icons">check_circle</i>
            </li>
            <li class="fourOption" [class.active]="isConnected" [class.icon]="isListSelected">Select List
              <i class="material-icons">check_circle</i>
            </li>
            <li class="fourOption" [class.active]="isListSelected " [class.icon]="isMapped">Map fields
              <i class="material-icons">check_circle</i>
            </li>
            <li class="fourOption" [class.active]="isMapped" [class.icon]="isMapped">Test connection
              <i class="material-icons">check_circle</i>
            </li>
            <!-- <li class="fiveOption" [class.active]="isDoubleOptin">Double Optin<i class="material-icons">check_circle</i></li> -->
          </ul>
          <!-- fieldsets -->
          <fieldset *ngIf="!isAccountSelected && !isConnected && !isListSelected && !isMapped">
            <h5 class="align-left">Choose ConvertKit account you want to use for this integration</h5>
            <h6>Select a ConvertKit Connection</h6>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
              <i class="material-icons loader-plan">autorenew</i>
            </div>
            <div class="radio-o" [class.active]="account.key==activeAccount" *ngFor="let account of accounts; let i = index">
              <input type="radio" [id]="account.name" (click)="setAccount(account.key,'edit')" name="radio-group" [checked]="account.status">
              <label [for]="account.name">{{account.name}}</label>
              <a *ngIf="accounts.length!=1 && account.key!==activeAccount" href="javascript:void(0);" class="after-test-link" (click)="setAccount(account.key,'delete')">Delete</a>
              <!-- <a href="javascript:void(0);" class="after-test-link" (click)="editAccount(account.key)">Edit</a> -->
              <a href="javascript:void(0);" *ngIf="account.key!==activeAccount" class="after-test-link" (click)="testAccount(account.key)">Test</a>
              <div [id]="account.key" class="after-test hide">
                <i class="material-icons">check</i> Success</div>

            </div>
            <a href="javascript:void(0);" (click)="openNewConnectModal()" class="single-link align-left mt5">Add another ConvertKit connection</a>
            <input type="button" name="submit" class="submit action-button button btn" (click)="showList()" value="Proceed" />
          </fieldset>

          <fieldset *ngIf="isAccountSelected && !isConnected && !isListSelected && !isMapped">
            <div class="error-main" *ngIf="isError">
              <i class="material-icons">check_circle</i> {{errorMsg}}
            </div>
            <h5 class="align-left">Connect to your Convertkit Account</h5>
            <h6>Once logged in to Convertkit, click on the Account Name at the top of the left hand side bar and select Account
              settings. Your API key will appear. From here Copy your Api Key.
            </h6>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter Convertkit account name" name="convertKitAccount" formControlName="accountName"
                [(ngModel)]="integrations.account_name">
              <label class="control-label" for="input">Select Account Name</label>
              <i class="bar"></i>
              <p class="error" *ngIf="convertKitForm.controls.accountName.touched && !convertKitForm.controls.accountName.valid">
                <span *ngIf="convertKitForm.controls.accountName.errors.required">
                  <i class="material-icons">report_problem</i> Account Name is required.
                </span>
              </p>

            </div>
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Enter convertkit api key" name="convertKitKey" formControlName="apiKey"
                [(ngModel)]="integrations.api_key">
              <!-- <input type="text" placeholder="palceholder"/> -->
              <label class="control-label" for="input">Convertkit Api key</label>
              <i class="bar"></i>
              <p class="error" *ngIf="convertKitForm.controls.apiKey.touched && !convertKitForm.controls.apiKey.valid">
                <span *ngIf="convertKitForm.controls.apiKey.errors.required">
                  <i class="material-icons">report_problem</i> Api key is required.
                </span>
              </p>
            </div>
            <button id="btnConvertKit" type="submit" [disabled]="!convertKitForm.valid" class="action-button button btn btn-connect-marketo"
              (click)="connect()">Authenticate with Convertkit</button>
          </fieldset>

          <fieldset *ngIf="isConnected && !isListSelected && !isMapped">
            <div class="error-main" *ngIf="isError">
              <i class="material-icons">check_circle</i> {{errorMsg}}
            </div>
            <h5 class="align-left">Choose Convertkit Form , Sequence or Tag where you want to add subscribers from this {{calcType}}</h5>
            <div class="dropdown-outer">
              <div class="heading">Select Type</div>

              <div [class.active]="listType=='forms'" class="radio-o">
                <input type="radio" id="forms" name="radio-group" [checked]="listType=='forms'" (change)="setListType('forms')">
                <label for="forms">Forms</label>
              </div>
              <div class="radio-o" [class.active]="listType=='sequences'">
                <input type="radio" id="sequences" name="radio-group" [checked]="listType=='sequences'" (change)="setListType('sequences')">
                <label for="sequences">Sequences</label>
              </div>
              <div class="radio-o" [class.active]="listType=='tags'">
                <input type="radio" id="tags" name="radio-group" [checked]="listType=='tags'" (change)="setListType('tags')">
                <label for="tags">Tags</label>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
                <i class="material-icons loader-plan">autorenew</i>
              </div>
              <div class="heading mt20">Select {{listType.slice(0,-1)}} </div>
              <select class="listName" id="mlt" (change)="selectedList($event.target.value)">
                <option value="0"> Select </option>
                <option *ngFor="let lists of crmList" [selected]="lists.id == selectedListId" [value]="lists.id">{{lists.name}}</option>
              </select>
            </div>
            <button (click)="saveList()" name="submit" class="submit action-button button btn" id="btnConvertKitList">Proceed</button>

          </fieldset>

          <fieldset *ngIf="isConnected && !isMapped">
            <div class="error-main" *ngIf="isMapError">
              <i class="material-icons">check_circle</i> {{mapError}}
            </div>
            <div class="error-main" *ngIf="isLeadGenError">
              <i class="material-icons">check_circle</i> {{mapError}}
            </div>
            <h5 class="align-left">Choose ConvertKit fields where you want to send Outgrow {{calcType}} data </h5>
            <div class="table-outer">
              <div class="row-outer header align-left" *ngIf="!isLoading && selectedlistId!='' && !isMapError">
                <div class="col-outer-half">Outgrow Field</div>
                <div class="col-outer-half">ConvertKit Field</div>
                <!-- <div class="col-outer">Type</div> -->
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
                <i class="material-icons loader-plan">autorenew</i>
              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calcfields of calcAllFileds">
                  <div class="col-outer-half">{{calcfields.calc_name}}</div>
                  <div class="col-outer-half">
                    <select (change)="selectedMapFields(calcfields.calc_key,$event)" [disabled]="isLeadGenError">
                      <option value="0">Not mapped</option>
                      <option *ngFor="let crmfields of crmAllFileds" [selected]="crmfields.calc_key == calcfields.calc_key" [value]="crmfields.crm_key">{{crmfields.crm_name}}</option>
                      <!-- <option >Option</option>                    -->
                    </select>
                  </div>
                  <!-- <div class="col-outer">Type</div> -->
                </div>
              </div>
              <!-- <p>Send Outgrow leads to different lists based on results</p> -->
            </div>
            <!-- <input type="button" name="previous" class="previous action-button-previous btn button-light" value="Previous"/> -->
            <!-- <input type="button" (click)="test()" class="action-button button btn btn-test" value="Test Connection"/> -->
            <button (click)="test()" [disabled]="isLeadGenError" class="action-button button btn btn-test" href="javascript:void(0);"
              type="button">TEST CONNECTION</button>
          </fieldset>
          <fieldset *ngIf="isMapped">
            <div class="success">
              <i class="material-icons">check_circle</i> MAPPING SUCCESSFUL.
            </div>
            <h6>Following test record will be pushed to ConvertKit to test the connection</h6>
            <div class="table-outer">
              <div class="row-outer header align-left">
                <div class="col-outer-half">ConvertKit Field</div>
                <div class="col-outer-half">ConvertKit Field value</div>

              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calc of viewMappedData">
                  <div class="col-outer-half" *ngIf="calc.key!='list_id'&& calc.key!='list_type'">{{calc.key}}</div>
                  <div class="col-outer-half" *ngIf="calc.key!='list_id'&& calc.key!='list_type'">{{calc.value}}</div>
                </div>
              </div>

              <!-- <p>Send Outgrow leads to different lists based on results</p> -->
            </div>
            <input type="button" class="action-button-previous btn button-light-back" (click)="back()" value="Back" />
            <input type="button" name="submit" class="submit action-button button btn" (click)="close()" value="Finish" />
          </fieldset>

        </form>
      </div>
    </div>

  </div>
</div>
<div class="integration-box hide" *ngIf="returnFeatureAccess()">
  <a class="if-connected">
    <div class="int-box-inner">
      <div *ngIf="isConfigured" class="integration-pullout">
        <i class="material-icons">expand_more</i>
        <ul class="new-dropdown-menu">
          <li *ngIf="isConfigured">
            <a class="hvr-shutter-out-vertical" href="javascript:void(0);" (click)="openConnectModal()">
              <div class="company-block">
                <i class="material-icons">mode_edit</i>
              </div>
              <div class="int-content">
                <span class="company-title ellipsis">&nbsp;Reconfigure</span>
              </div>
            </a>
          </li>
          <li>
            <a *ngIf="isConfigured && config.active && isLeadsPending" class="hvr-shutter-out-vertical" href="javascript:void(0);" (click)="sync()">
              <div class="company-block">
                <i class="material-icons">refresh</i>
              </div>
              <div class="int-content">
                <span class="company-title ellipsis sync-leads-mc">&nbsp;Sync
                  <span class="pending-leads">({{pendingLeads}})</span>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a class="hvr-shutter-out-vertical" *ngIf="isConfigured && config.active" href="javascript:void(0);" (click)="activate(true)">
              <div class="company-block">
                <i class="material-icons">play_circle_outline</i>
              </div>
              <div class="int-content">
                <span class="company-title ellipsis">&nbsp;Test
                  <span class="pending-leads"></span>
                </span>
              </div>
            </a>
          </li>
          <li>
            <a *ngIf="isConfigured && config.active" class="hvr-shutter-out-vertical" href="javascript:void(0);" (click)="updateIntegrationStatus(false)">
              <div class="company-block">
                <i class="material-icons">block</i>
              </div>
              <div class="int-content">
                <span class="company-title ellipsis">&nbsp;Deactivate
                  <span class="pending-leads"></span>
                </span>
              </div>
            </a>
          </li>
          <li *ngIf="config?.map_fields?.length > 0 && isConfigured && config.active">
            <a class="hvr-shutter-out-vertical" href="javascript:void(0);" (click)="syncTask()">
              <div class="company-block">
                <i class="material-icons">list</i>
              </div>
              <div class="int-content">
                <span class="company-title ellipsis">&nbsp;Task History
                  <span class="pending-leads"></span>
                </span>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <img *ngIf="!isConfigured" (click)="openConnectModal()" class="img-responsive img-height" src="assets/images/ckin.png" />
      <img *ngIf="isConfigured && config.active" (click)="openConnectModal()" class="img-responsive img-height" src="assets/images/ckin.png"
      />
      <img *ngIf="isConfigured && !config.active" (click)="activate(true)" class="img-responsive img-height" src="assets/images/ckin.png"
      />
      <div class="active-text connected" *ngIf="isConfigured && config.active">
        <i class="material-icons">fiber_manual_record</i>Active
      </div>
      <div class="active-text not-connected" *ngIf="isConfigured && !config.active">
        <i class="material-icons">fiber_manual_record</i>Inactive
      </div>
    </div>
  </a>
  <div class="btn-wrap">
    <a *ngIf="!isConfigured" (click)="openConnectModal()" class="config-btn col-sm-12 col-xs-12 np" href="javascript:void(0);">
      <div class="config-text">
        <div class="text">Configure</div>
      </div>
    </a>
    <a *ngIf="isConfigured && config.active" (click)="openConnectModal()" class="config-btn col-sm-12 col-xs-12 np" href="javascript:void(0);">
      <div class="config-text">
        <div class="text">Reconfigure</div>
      </div>
    </a>
    <a *ngIf="isConfigured && !config.active" (click)="activate(true)" class="config-btn col-sm-12 np deactivate-btn btn-activate"
      href="javascript:void(0);">
      <div class="config-text">
        <div class="text">
          <i class="material-icons">check_circle</i> &nbsp;Activate</div>
      </div>
    </a>
  </div>
</div>
<div class="integration-box upgrade-block hide" *ngIf="!returnFeatureAccess()" (click)="premiumPopup('integrations')">
  <a class="if-connected">
    <div class="int-box-inner">
      <img class="img-responsive img-height" src="assets/images/ckin.png" />
    </div>
  </a>
  <div class="btn-wrap">
    <a class="config-btn col-sm-12 col-xs-12 np" href="javascript:void(0);" (click)="premiumPopup('integrations')">
      <div class="config-text">
        <div class="text">
          <i class="material-icons">lock_outline</i> Upgrade</div>
      </div>
    </a>
  </div>
</div>

<div id="mailchimp" class="configure-modal modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
