<div class="native-int-box links-outer" *ngIf="!returnFeatureAccess()" (click)="premiumPopup('integrations')">
  <div class="logo-sec ml10">
    <img class="img-responsive" src="assets/images/zoho.png" />
  </div>
  <div class="integration-name">
    Zoho
  </div>
  <div class="links-inner">
    <ul>
      <li>
        <div class="i-outer-red">
          <a href="javascript:void(0)">
            <i class="material-icons small-icon">lock_outline</i>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="native-int-box" [class.links-outer]="isConfigured" *ngIf="returnFeatureAccess()">
  <div *ngIf="isConfigured && !config.active" class="red-bar"></div>
  <div *ngIf="isConfigured && config.active" class="green-bar"></div>
  <div class="logo-sec">
    <img class="img-responsive" src="assets/images/zoho.png" />
  </div>
  <div class="integration-name">
    Zoho
  </div>
  <button *ngIf="!isConfigured" data-toggle="modal" data-target="#zoho-new" class="btn configure-btn " type="submit">Configure</button>

  <div class="links-inner">
    <ul>
      <li>
        <div *ngIf="isConfigured && !config.active" class="i-outer-red">
          <i class="material-icons">error</i>
        </div>
        <div *ngIf="isConfigured && config.active" class="i-outer-green">
          <i class="material-icons">check_circle</i>
        </div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <img class="img-responsive" src="assets/images/config-icon-active.png" />
        </a>
        <div class="help-checktip config-tip">Test</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured">
        <a href="javascript:void(0)" (click)="getAccounts()">
          <img class="img-responsive" src="assets/images/config-icon.png" />
        </a>
        <div class="help-checktip config-tip">Reconfigure</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active && isLeadsPending">
        <a href="javascript:void(0)" (click)="sync()">
          <i class="material-icons">autorenew</i>
        </a>
        <div class="help-checktip config-tip">Sync</div>
      </li>
      <li class="help-tip" (click)="syncTask()" *ngIf="config?.map_fields?.length > 0  && isConfigured && config.active">
        <a href="javascript:void(0)">
          <i class="material-icons">restore</i>
        </a>
        <div class="help-checktip config-tip">Task History</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && config.active">
        <a href="javascript:void(0)" (click)="updateIntegrationStatus(false)">
          <i class="material-icons ">do_not_disturb_alt</i>
        </a>
        <div class="help-checktip config-tip">Deactivate</div>
      </li>
      <li class="help-tip" *ngIf="isConfigured && !config.active">
        <a href="javascript:void(0)" (click)="activate(true)">
          <i class="material-icons">playlist_add_check</i>
        </a>
        <div class="help-checktip config-tip">Activate</div>
      </li>
    </ul>
  </div>
</div>

<div id="zoho-new" class="modal fade integration-modal" role="dialog">
  <div class="modal-dialog ">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <i class="material-icons modal-close">close</i>
        </button>
        <img src="assets/images/crm-z.png">
        <h4>send outgrow lead to zoho crm</h4>
      </div>
      <div class="modal-body">
        <!-- MultiStep Form -->
        <form [formGroup]="form">
          <!-- progressbar -->
          <ul class="progressbar">
            <li class="active threeOption" [class.icon]="isConnected">Configure
              <i class="material-icons">check_circle</i>
            </li>
            <li class="threeOption" [class.active]="isConnected" [class.icon]="isMapped">Map Fields
              <i class="material-icons">check_circle</i>
            </li>
            <li class="threeOption" [class.active]="isMapped" [class.icon]="isDoubleOptin">Test Connection
              <i class="material-icons">check_circle</i>
            </li>
            <!-- <li class="fourOption" [class.active]="isDoubleOptin">Double Optin<i class="material-icons">check_circle</i></li> -->
          </ul>
          <!-- fieldsets -->
          <fieldset *ngIf="!isAccountSelected && !isConnected && !isMapped">
              <div class="error-main" *ngIf="isError">
                  <i class="material-icons">check_circle</i> {{errorMsg}}
                </div>
            <h5 class="align-left">Choose zoho account you want to use for this integration</h5>
            <h6>Select a zoho Connection</h6>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
              <i class="material-icons loader-plan">autorenew</i>
            </div>
            <div class="radio-o" [class.active]="account.key==activeAccount" *ngFor="let account of accounts; let i = index">
              <input type="radio" [id]="account.name" (click)="setAccount(account.key,account.name, 'edit')" name="radio-group" [checked]="account.status">
              <label [for]="account.name">{{account.name}}</label>
              <a *ngIf="accounts.length!=1 && account.key!==activeAccount" href="javascript:void(0);" class="after-test-link" (click)="setAccount(account.key,account.name,'delete')">Delete</a>
              <!-- <a href="javascript:void(0);" class="after-test-link" (click)="editAccount(account.key,account.name)">Edit</a> -->
              <a href="javascript:void(0);" *ngIf="account.key!==activeAccount" class="after-test-link" (click)="testAccount(account.key,account.Name)">Test</a>
              <!-- <div class="after-test"><i class="material-icons">check</i> Success</div> -->
							<div [id]="account.key" class="after-test hide"><i class="material-icons">check</i> Success</div>
              
            </div>
            <a href="javascript:void(0);" (click)="openNewConnectModal()" class="single-link align-left mt5">Add another zoho connection</a>
            <input type="button" name="submit" class="submit action-button button btn" (click)="showList()" value="Proceed" />
          </fieldset>
          <fieldset *ngIf="!isConnected && isAccountSelected">      
            <div class="error-main" *ngIf="isError">
              <i class="material-icons">check_circle</i> {{errorMsg}}
            </div>
            <h5 class="align-left">Connect to your Zoho Account</h5>
            <h6>To configure Zoho-CRM please provide your Zoho-CRM Authorization Token. To access your Authorization token navigate to Zoho-CRM account
              <a class= "text-red" href="https://www.zoho.com/crm/help/api/using-authentication-token.html" target="_blank">settings page</a>.
            </h6>
            <div class="form-group">
              <input class="form-control"  type="text" placeholder="Enter Zoho account name" name="hubspotAccount" formControlName="accountName" [(ngModel)]="integrations.account_name">
              <label class="control-label" for="input">Select Account Name</label>
              <i class="bar"></i>
              <!-- <p class="error" *ngIf="mailChimpForm.controls.accountName.touched && !mailChimpForm.controls.accountName.valid">
              <span *ngIf="mailChimpForm.controls.accountName.errors.required">
              <i class="material-icons">report_problem</i> Account Name is required.
              </span> 
            </p> -->
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="Enter zoho api key" type="text" name="zohoKey" formControlName="apiKey" [(ngModel)]="integrations.api_key" (focus)="addIsfocusedKey()"
                (blur)="removeIsfocusedKey()">
              <!-- <input type="text"   placeholder="palceholder"/> -->
              <label class="control-label" for="input">Zoho Api Key</label>
              <i class="bar"></i>
              <p class="error" *ngIf="form.controls.apiKey.touched && !form.controls.apiKey.valid">
                <span *ngIf="form.controls.apiKey.errors.required">
                  <i class="material-icons">report_problem</i> Api Key is required.
                </span>
              </p>
            </div>


            <button [disabled]="!form.valid" id="zoho_btn" class="action-button button btn btn-connect-hubspot" (click)="connect()">Authenticate with Zoho</button>
            <!-- <input type="button" name="next" class="next action-button button btn " value="Authenticate with Marketo"/> -->
          </fieldset>
          <fieldset *ngIf="isConnected && !isMapped">
            <div class="error-main" *ngIf="isMapError">
              <i class="material-icons">check_circle</i> {{mapError}}
            </div>
            <div class="error-main" *ngIf="isLeadGenError">
              <i class="material-icons">check_circle</i> {{mapError}}
            </div>
            <h5 class="align-left">Choose Zoho fields where you want to send Outgrow {{calcType}} data </h5>
            <div class="table-outer">
              <div class="row-outer header align-left" *ngIf="!isLoading && selectedlistId!='' && !isMapError">
                <div class="col-outer-half">Outgrow Field</div>
                <div class="col-outer-half">Zoho Field</div>
                <!-- <div class="col-outer">Type</div> -->
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="isLoading">
                <i class="material-icons loader-plan">autorenew</i>
              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calcfields of calcAllFileds">
                  <div class="col-outer-half">{{calcfields.calc_name}}</div>
                  <div class="col-outer-half">
                    <select (change)="selectedMapFields(calcfields.calc_key,$event)" [disabled]="isLeadGenError">
                      <option value="0">Not mapped</option>
                      <option *ngFor="let crmfields of crmAllFileds" [selected]="crmfields.calc_key == calcfields.calc_key" [value]="crmfields.crm_key">{{crmfields.crm_name}}</option>
                      <!-- <option >Option</option>										 -->
                    </select>
                  </div>
                  <!-- <div class="col-outer">Type</div> -->
                </div>
              </div>
              <!-- <p>Send Outgrow leads to different lists based on results</p> -->
            </div>
            <!-- <input type="button" name="previous" class="previous action-button-previous btn button-light" value="Previous"/> -->
            <!-- <input type="button" (click)="test()" class="action-button button btn btn-test"  value="Test Connection"/> -->
            <button (click)="test()" id="zoho-test" class="action-button button btn btn-test" href="javascript:void(0);"
              type="button" [disabled]="isLeadGenError" >TEST CONNECTION</button>
          </fieldset>
          <fieldset *ngIf="isMapped && !isDoubleOptin">
            <div class="success">
              <i class="material-icons">check_circle</i> MAPPING SUCCESSFUL.
            </div>
            <h6>Following test record will be pushed to Zoho to test the connection</h6>
            <div class="table-outer">
              <div class="row-outer header align-left">
                <div class="col-outer-half">Zoho Field</div>
                <div class="col-outer-half">Zoho Field value</div>

              </div>
              <div class="table-outer-in scrollbar">
                <div class="row-outer align-left" *ngFor="let calc of viewMappedData">
                  <div class="col-outer-half" *ngIf="calc.key!='list_id'">{{calc.key}}</div>
                  <div class="col-outer-half" *ngIf="calc.key!='list_id'">{{calc.value}}</div>
                </div>
              </div>

              <!-- <p>Send Outgrow leads to different lists based on results</p> -->
            </div>
            <input type="button" class="action-button-previous btn button-light-back" (click)="back()" value="Back" />
            <input type="button" name="submit" class="submit action-button button btn" (click)="close()" value="Finish" />
          </fieldset>

          <!-- <fieldset class="">
                        <h5 class="align-left">Users receive an email and click a link to confirm their subscription, which is
                                then added to your Zoho account or chosen list.</h5>
                                <div class="check-outer">
                                    <input type="checkbox" id="test1" />
                                    <label for="test1">Send users of this calculator / quiz / poll an email to confirm subscription to a list </label>
                                </div>	
                            <div class="email-body-text">Email body</div>	
                            <div class="email-outer" id="email">
                                <textarea id="froala-editorZoho"></textarea>						
                            </div>
                            <div class="buttons-outer">
                                <a class="small-btn red-btn" id="btn-save" href="javascript:void(0)" (click)="sendTestMessage('save')" ><i class="material-icons" >save</i> Save</a>	
                                <a class="small-btn" href="javascript:void(0)" ><i class="material-icons">autorenew</i> Reset</a>
                                <a class="small-btn" href="javascript:void(0)" (click)="sendTestMessage('test')"><i class="material-icons">send</i> Send Test Email</a>
                                
                                
                            </div>
                            <input type="button" name="submit" class="submit action-button button btn" value="SET DOUBLE OPTIN" (click)="setDoubleoptin()"/>
                        </fieldset> -->

        </form>
        <!-- /.MultiStep Form -->
      </div>
    </div>

  </div>
</div>
